@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");
        body {
            height: 100vh;
            background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
            url("https://images.unsplash.com/photo-1567018548889-6d7f0eaff046?q=80&w=2887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
            background-size: cover;
            background-position: center;
            text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
        }

  
  /* .cover-container {
    max-width: 60vw;
  } */
  
  .nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
  }
  
  .nav-link:hover {
    border-bottom-color: rgba(255, 255, 255, 0.5);
  }
  .nav-link.active {
    color: white;
    border-bottom-color: white;
  }
  
  .btn-secondary,
  .btn-secondary:hover {
    color: #333;
    text-shadow: none;
  }
 


       /* body{
        background-color:#eee;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
       }

       .height{
        height: 100vh;
       } */
       

       .search{
       position: relative;
       box-shadow: 0 0 40px rgba(255, 255, 255, 0.1);
         
       }

       .search input{

        height: 60px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;


       }


       .search input:focus{

        box-shadow: none;
        border: 2px solid rgba(255, 255, 255, 0.713);


       }

       .search .fa-search{

        position: absolute;
        top: 20px;
        left: 16px;

       }

       .search button{

        position: absolute;
        top: 5px;
        right: 5px;
        height: 50px;
        width: 110px;
        /* background: rgb(0, 89, 255);; */

       }
       #searchbar{
        background-color: rgba(255,255,255,0);
        font-weight: 300;
        color: white;


       }
       
       #searchbar::placeholder {
        color: #ffffffaa; /* Change this to the color you prefer */
        opacity: 1; /* Ensure placeholder remains fully visible */
    }